@import "../variables";

.header {
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 17;
  grid-row-start: 1;
  padding: 0 2.5%;
  transition: all 600ms ease-in-out;
  transform: translateX(0);
  &_toolbar-open {
    transform: translateX(25%);
    width: calc(100vw - 100vw / 16 * 4);
  }
}
